@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'SVNGraphitel';
   src: url('./public/fonts/SVNGraphitel.ttf') format('truetype');
}

/* Thêm custom utility */
@layer utilities {
   .opacity-hover {
      transition: opacity 0.3s ease-in-out;
   }

   .opacity-hover:hover:not(.active) {
      opacity: 0.7;
   }
}

* {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
   border-radius: 0;
   height: 8px;
   width: 8px;
}

html ::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}

html ::-webkit-scrollbar-track {
   background-color: transparent;
   border-radius: 0;
}

::selection {
   background-color: #f97316;
   color: #fff;
}

hr {
   color: #cccccc4d;
   box-sizing: content-box;
   height: 0;
   overflow: visible;
   margin: 8px 0;
}

.active {
   background-color: #e8ebed;
}

.p-inputtext:enabled:focus,
.p-button:focus {
   box-shadow: none !important;
   border-color: unset !important;
}

/* Tắt outline rating */
.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-item:hover .p-rating-icon {
   color: #f97316 !important;
}

.p-rating .p-rating-item.p-focus {
   box-shadow: 0 0 0 !important;
}

.p-paginator-page.p-paginator-element.p-link.p-highlight {
   background-color: #ecfeff !important;
   text-color: #a6d2dc !important;
}
